/*Single Product Card*/

/*.fle*/
.product-card-list{
    display:flex;
    gap:16px;
    flex-direction:row;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap:wrap;
    align-items:start;
}

.product-card{
    background-attachment:#fff;
    border:1px solid #e0e0e0;
    border-radius:8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width:200px;
    margin:20px;
    padding: 20px;
    overflow:hidden;
    transition:transform 0.2s;
}

.product-card:hover{
    transform:scale(1.05);
}

.product-image{
    width: 100%;
    height: 150px;
    object-fit:cover;
}

.product-info {
    padding: 16px;
}

.product-title {
    font-size: 0.9em;
    margin: 0;
    max-height:fit-content; /* Limit the height to 3 lines */
    overflow:hidden; /* Hide overflow */
    text-overflow:ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
}

.product-category {
    font-size: 0.9em;
    color: #757575;
    margin: 8px 0;
}

.product-price {
    font-size: 1.1em;
    color: #ff5722;
    margin: 0;
}